<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <!-- ye humne bootstrap se liye hai -->
<div class="alert alert-danger col-6 offset-3" role="alert">
  <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
  <!-- ye msg se hamara jo error hai vo likhke aayenga -->
  <p class="alert-heading"><%= message %></p>
  
  </div>
</div>