body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

/* imporatnt likne se humne jo style diye hai vohi apply hoti hai bootstrap ki nhi hoti imporatne bootstrap ki style par override kar deta hssi */
.nav-link{
    color:#222222 !important;
}

.f-Info-links a{
/* link se underline hata denge */
text-decoration: none;
color: #222222;
}

.f-Info-links a:hover{
    text-decoration: underline;
}

.f-Info-links , .f-Info-socials , .f-Info-brand{
    width: 100%;
    vertical-align:middle ;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-Info-socials i{
    font-size: 1.2 rem;
    margin-right: 1rem;
}
.f-Info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    /* sari chize different line par aane ke liye hum flex wrape use karte hai */
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    /* complete white nhi ho sakta isliye humne 0.2 opacity liye hai */
    opacity: 0.2;
    background-color: white;
}

/* new page */
.add-btn{
  background-color: #fe424d !important;
  border: none !important;
}

/* edi6t page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* map */

#map { 
    height: 400px; 
    width: 80vh;
}